.content .headerLine{
    width: 100%;
    height: 48px;
    display: flex;
    margin: 17px auto 15px;
}
.content .headerLine .hean-mores{
    width: fit-content;
    margin-right: 20px;
    margin-left: 5px;
    position: relative;
}

.content .headerLine .hean-mores img{
    width: 48px;
    height: 48px;
    float: left;
    border-radius: 5px;
}

.content .headerLine .hean-mores span{
    font-size: 24px;
    margin-left: 10px;
    line-height: 48px;
}
.content .headerLine .flex1{
    height: 24px;
    border-bottom: 1px dashed #ffb3a0;
    display: block;
    flex: 1;
}

.content .headerLine .mores{
    font-size: 14px;
    width: initial;
    float: right;
    line-height: 48px;
    margin-left: 10px;
    margin-right: 15px;
}
