body{
    margin: 0px;
    padding: 0px;
}
blockquote, body, button, dd, dl, dt, fieldset, h1, h2, h3, h4, h5, h6, hr, input, lengend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: 400;
}
li{
    list-style-type: none;
    overflow: hidden;
}

.hean-uot{
    width: 100%;
}
